.footer {
  position: absolute;
  bottom: 0px;
  min-width: 1100px;
  width: 100%;
}

.copyRight {
  color: white;
  position: absolute;
  bottom: 32px;
  right:3%
}

.black {
  color: black;
}


.copyRight span {
  color: #009be6;
}

.sns {
  list-style: none;
  position: absolute;
  padding: 0;
  bottom: 3%;
  left: 3%;
}

.vertical {
  display: flex;
  gap: 1.5rem;
}

.sns li {
  display: block;
  margin-bottom: 27px;
  width: 20px;
  aspect-ratio: 1;
}

.sns img {
  width: 100%;
}

