:global(input::-webkit-outer-spin-button), :global(input::-webkit-inner-spin-button) {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  min-height: 720px;
  height: 100vh;
  position: relative;
}

.calendar{
  position: absolute;
  top: 170px;
  left: 40px;
}

.date {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 550;
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
  min-height: 80px;
  width: auto;
  color: rgb(20, 20, 20);
  border-bottom: 5px solid rgb(20, 20, 20);
  margin-bottom: 5px;
}

.records {
  position: absolute;
  top: 100px;
  left: 550px;
}

.records input {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin-right: 5px;
  font-size: 0.9rem;
  height: 25px;
}

.records .memo {
  width: 12rem;
}

.records .amount {
  width: 8rem;
  text-align: right;
}

.records button {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  width: 50px;
  height: 20px;
  font-size: 11px;
  border: 0.5px rgba(0,0,0, 0.1) solid; 
  box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0, 0.1);
  border-radius: 5px;
  /* border-right: 1px solid rgb(255, 22, 22);
  border-bottom: 1px solid rgb(255, 22, 22); */
  background-color: transparent;
  cursor: pointer;
}

.records .add {
  width: 150px;
}

.recordsWrap {
  width: 600px;
  max-height: 400px;
  overflow-y: scroll;
}

.records form {
  height: 30px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.record {
  height: 30px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin-bottom: 2px;
  font-size: 0.95rem;
}

.record span:first-of-type {
  display: inline-block;
  width: 6rem;
  margin-right: 5px;
  padding-left: 1px;
  line-height: 30px;
}

.record span:nth-of-type(2) {
  display: inline-block;
  width: 12rem;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
  line-height: 30px;
}

.record span:nth-of-type(3) {
  display: inline-block;
  width: 8rem;
  text-align: right;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
  line-height: 30px;
}

.record .edit {
  display: inline-block;
  vertical-align: text-bottom;
  width: 150px;
}

.categorySelect {
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin-right: 5px;
  position: relative;
}

.categorySelect::after {
  position: absolute;
  content: '';
  width: 1.1rem;
  aspect-ratio: 1;
  top: 15%;
  right: -1%;
  background-color: rgb(100, 100, 100);
  mask-image: url('../img//svg/select-down.svg');
  mask-repeat: no-repeat;
  pointer-events: none;
  display: flex;
}

.categorySelect select{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  width: 6rem;
  height: 95%;
  margin-right: 5px;
  appearance: none;
  border: none;
  padding-left: 1px;
  font-size: 0.95rem;
}

.newOption {
  width: 586px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 0.95rem;
  display: flex;
  justify-content: right;
}

.newOption > * {
  margin-right: 5px;
}

.newOption input {
  width: 8rem;
}

.newOption button {
  font-size: 11px;
  height: 20px;
  width: 150px;
  vertical-align: middle;
}

.note {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  position: absolute;
  left: 234px;
  bottom: 2%;
}