.banner {
  margin-top: 20px;
}

.bannerImg {
  margin-top: 20px;
  width: 100%;
}

.bannerLocation {
  font-size: 1.1rem;
  color: rgb(100, 90, 90);
  letter-spacing: 1px;
  transform: scaleY(1.05);
}

@media (max-width: 768px) {
  .bannerLocation{
    margin-top: 10px;
  }
}
